<section class="" ng-controller="SocialAccountsController">
  <!-- Connected social accounts -->
  <div class="connections-container">
    <h4>Connected:</h4>
    <div ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="connection-container">
      <div class="connection-image">
        <img ng-src="/modules/users/client/img/buttons/{{providerName}}.png">
      </div>
      <div ng-if="providerName === 'linkedin'" class="connection-description">
        <span class="connection-description-key">Name:</span> <span> {{providerData.formattedName}}</span><br/>
        <span class="connection-description-key">Location:</span> <span> {{providerData.location.name}}</span><br/>
        <span class="connection-description-key">Industry:</span> <span> {{providerData.industry}}</span><br/>
      </div>
      <div ng-if="providerName === 'twitter'" class="connection-description">
        <span class="connection-description-key">Name:</span> <span>{{user.providerData.name}}</span><br/>
        <span class="connection-description-key">Screen name:</span> <span>{{user.providerData.screen_name}}</span><br/>
        <span class="connection-description-key">Location:</span> <span>{{user.providerData.location}}</span><br/>
        <span class="connection-description-key">Description:</span> <span>{{user.providerData.description}}</span><br/>
        <span class="connection-description-key">Followers:</span> <span>{{user.providerData.followers_count}}</span><br/>
        <span class="connection-description-key">Following:</span> <span>{{user.providerData.friends_count}}</span>
      </div>
    </div>
    
    <div ng-if="user.provider === 'twitter'" class="connection-container">
      <div class="connection-image">
        <img ng-src="/modules/users/client/img/buttons/{{user.provider}}.png">
      </div>
      <div class="connection-description">
        <span class="connection-description-key">Name:</span> <span>{{user.providerData.name}}</span><br/>
        <span class="connection-description-key">Screen name:</span> <span>{{user.providerData.screen_name}}</span><br/>
        <span class="connection-description-key">Location:</span> <span>{{user.providerData.location}}</span><br/>
        <span class="connection-description-key">Description:</span> <span>{{user.providerData.description}}</span><br/>
        <span class="connection-description-key">Followers:</span> <span>{{user.providerData.followers_count}}</span><br/>
        <span class="connection-description-key">Following:</span> <span>{{user.providerData.friends_count}}</span>
      </div>
    </div>
    <div ng-if="user.provider === 'linkedin'" class="connection-container">
      <div class="connection-image">
        <img ng-src="/modules/users/client/img/buttons/{{user.provider}}.png">
      </div>
      <div class="connection-description">
        <span class="connection-description-key">Name:</span> <span> {{providerData.formattedName}}</span><br/>
        <span class="connection-description-key">Location:</span> <span> {{providerData.location.name}}</span><br/>
        <span class="connection-description-key">Industry:</span> <span> {{providerData.industry}}</span><br/>
      </div>
    </div>
  </div>
  
  <!-- Unconnected social accounts -->
  <div class="connections-container">
    <h4>Unconnected accounts:</h4>
    <div class="connection-container" ng-hide="isConnectedSocialAccount('twitter')">
      <div class="connection-image">
        <img ng-src="/modules/users/client/img/buttons/twitter.png">
      </div>
      <a class="btn btn-success btn-remove-account" href="/api/auth/twitter" target="_self">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    <div class="connection-container" ng-hide="isConnectedSocialAccount('linkedin')">
      <div class="connection-image">
        <img ng-src="/modules/users/client/img/buttons/linkedin.png">
      </div>
      <a class="btn btn-success btn-remove-account" href="/api/auth/linkedin" target="_self">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
  </div>
</section>
